@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --Bright_orange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
    --Transparentwhite : hsla(0, 0%, 100%, 0.75);
    /* (paragraphs) */
    --Verylightgray : hsl(0, 0%, 95%);
    /* (background, headings, buttons) */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Lexen Deca', sans-serif;
    background-color: var(--Verylightgray);
}


.container{
    width: 325px;
    margin: 87px auto 80px;
}

h2{
    color: var(--Verylightgray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.4em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

article{
    width: 100%;
    height: 440px;
    padding: 48px;
}

p{
    color: var(--Transparentwhite);
    line-height: 25px;
    margin-bottom: 25px;
}

.sedans{
    background-color: var(--Bright_orange);
}

.suvs{
    background-color: var(--Darkcyan);
}

.luxury{
    background-color: var(--Verydarkcyan);
}


img{
    margin-bottom: 36px;
}

button{
    width: 148px;
    height: 46px;
    background-color: var(--Verylightgray);
    border-radius: 45px;
    border-style: none;
}

.btn-sedans{
    color: var(--Bright_orange);
}

.btn-suvs{
    color: var(--Darkcyan);
}

.btn-luxury{
    color: var(--Verydarkcyan);
}

@media(min-width:944px){
    .container{
        width: 924px;
        display: flex;
        margin-top: 178px;
    }
    
    article{
        height: 500px;
    }

    p{
        margin-top: 80px;
        color: var(--Transparentwhite);
    }
    

}